{
	"swagger_address": "127.0.0.1:10000",
	"swagger_uri": "/swagger/",

	"server_address": ":10000",
	"shutdownTimeout": "10s",

	"log": {
		"level": "debug",
		"output": "file",
		"file" :{
			"name": "./http-server",
			"extensionName": "log",
			"addDate": false
		},
		"withCallerInfo": true
	}
}
