{
	"address": ":30000",
	"timeoutSeconds": 3600,
	"shutdownTimeout": "10s",
	
	"subscriptionUri": "/subscription",
	"publishUri": "/publish",

	"file_persistor_info": {
		"use": false,
		"fileName": "./file-persistor.txt",
		"writeBufferSize": 250,
		"writeFlushPeriodSeconds": 1
	},

	"log": {
		"level": "debug",
		"output": "file",
		"file" :{
			"name": "./long-polling-server",
			"extensionName": "log",
			"addDate": false
		},
		"withCallerInfo": true
	}
}
