{
    "address": ":30000",
    "timeout": 3600,
	"shutdownTimeout": 10,
	
    "subscription_uri": "/subscription",
    "publish_uri": "/publish",

    "file_persistor_info": {
        "use": false,
        "file_name": "./file-persistor.txt",
        "write_buffer_size": 250,
        "write_flush_period_seconds": 1
    },

	"log": {
		"level": "DEBUG",
		"output_path": "./log/",
		"file_name_prefix": "long-polling-server",
		"print_caller_info": true,
		"channel_size": 1024
	}
}
